---
import Layout from '../../layouts/Layout.astro';
import GameFrame from '../../components/GameFrame.astro';
import { relatedGames } from '../../data/relatedGames';
import RelatedGameVideos from '../../components/RelatedGameVideos.astro';
import { mockVideos } from '../../mocks/videoData';

import { getCollection, render } from 'astro:content';
import Card from '../../components/Card.astro';
import mods from '../../data/mods.json'


export async function getStaticPaths() {
    const games = await getCollection('game');
    return games.map((game) => ({
        params: { id: game.id },
        props: { game },
    })) as { params: { id: string }, props: { game: any } }[];
}

const { game } = Astro.props;
const { Content, headings } = await render(game);
---

<Layout title={game.data.title} description={game.data.description}>
  <div class="space-y-8">
    <!-- Hero/Game Section -->
    <div class="container relative -mb-10 sm:-mb-20">
      <div class="flex gap-4">
        <!-- <div class="flex-1 bg-blue-50"></div> -->
        <div class="w-full sm:w-2/3">
          <GameFrame
            gameUrl={game.data.game.url}
            title={game.data.game.title}
            coverImage={game.data.game.image}
            description={game.data.game.tagline} />
        </div>
        <div class="hidden sm:block flex-1 ">
          <div class="grid grid-cols-2 gap-4">
            {mods.slice(-10).map(mod => (
              <Card
                title={`${mod.name}`}
                imageUrl={mod.img}
                href={`https://play.fancade.com/${mod.id}?max_w=999999&max_h=9999999&istart=1`}
                key={mod.id}
              />
            ))}
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col space-y-8">

      <section class="container order-5">

        <article class="prose max-w-none">
          <Content />
        </article>
      </section>

      <section class="container">
        <h2 class="mb-8 text-2xl font-bold">More Drive Mad Mods Unblocked</h2>
        <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6">
          {mods.slice(0, -8).map(mod => (
            <Card
              title={`DriveMad - ${mod.name}`}
              imageUrl={mod.img}
              href={`https://play.fancade.com/${mod.id}?max_w=999999&max_h=9999999&istart=1`}
              key={mod.id}
            />
          ))}
        </div>
      </section>

      <!-- Related Games Section -->
      <!-- <section class="container">
        <h2 class="mb-8 text-2xl font-bold">Related Games</h2>
        <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6">
          {relatedGames.map(game => (
            <Card
              title={game.title}
              imageUrl={game.imageUrl}
              rating={game.rating}
              badge={game.badge}
              href={`/games/${game.id}`}
            />
          ))}
        </div>
      </section> -->

      <!-- Related Game Videos Section -->
      <section class="container">
        <h2 class="mb-8 text-2xl font-bold">Related Game Videos</h2>
        <RelatedGameVideos
          gameTitle="Drive Mad"
          videos={mockVideos}
        />
      </section>

    </div>

  </div>
</Layout>
