---
import { ViewTransitions } from 'astro:transitions';
import { getImage, Image } from 'astro:assets';
import logo from '../assets/logo.png';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '@phosphor-icons/web/regular';

interface Props {
  title: string;
  description: string;
}

const favicon = await getImage({ src: logo, width: 64 });

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="min-h-screen" data-theme="light">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2QLWYMQ2E5"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-2QLWYMQ2E5');
    </script>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href='/favicon.png' type="image/png">
    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={favicon.src} />
    <ViewTransitions />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap">
  </head>
  <body class="min-h-screen flex flex-col">
    <Header boxed={true} />
    <div class="flex-1 py-4">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  body {
    font-family: 'Outfit', sans-serif;
  }

  /* Dark mode styles */
  html[data-theme="dark"] {
    background: #000;
  }

  html[data-theme="dark"] .game-frame-overlay {
    background: rgba(0, 0, 0, 0.95);
  }
</style>
